body {
  background: #ffffff;
  background-size: auto;
  /*font-family: 'Lato', sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Menu azul*/
nav  {
background: #5B98CF;
width: 100%;
height: 50px;
color: white;
height: 50px;
font-family: 'Montserrat', sans-serif;
display: flex;
justify-content: space-between;
align-items: center;


}

/*Telefono*/
.azuluno {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0%;
  
}
img.telephone {
  padding: 10px;

}
.telephone {
  padding: 30px;
  display: flex;
  align-items: center;
  padding-bottom: 0px;
  padding-top: 0px;
  
}
.menutel {
color: #ffffff;
font-size: 1.2em;
}    

/*correo*/
.azuldos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*Social media*/
.azultres {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img.email {
  padding: 10px;
width: 
}
.email {
display: flex;
align-items: center;

}

#logovasquez {
 width=1000;
}
 

.submenu {
  color: black;

}




/*Menu blanco*/

.menublanco {
display: flex;
justify-content: space-around;
align-items: center;
}

#logovasquez {
padding-top: 10px;
padding-bottom: 10px;
margin-top: 0;
margin-bottom: 30px;

}
.menublanco1 {
display: flex;
justify-content: space-around;
align-items: flex-start;
}

.menublanco2 {
display: flex;
justify-content: space-between;
align-items: center;
font-size: 2em;
}

/*Aqui empieza seccion dos*/

a:link, a:visited, a:active {
text-decoration:none;
padding-left: 40px;
padding-right: 40px;

}

.menulogo {
  background: #ffffff;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  font-size: 17px;
  
}

img.trabajadores {
  width: 100% ;
  height: 100%;

}

#years {
    font-size: 3rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0px;
}
h2 {
  text-align: center;
  font-family: 'Lato', sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
   
}

.topics {
  text-align: center;
  font-family: 'Lato', sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 2em;
  
  

}
.ptext {
font-size: 1.5em;

}

/*ContenedorPadre*/



.services {
    margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      margin-bottom: 50px;
      
}

/*Contenedores Hijos*/
.servicesdesign {
width: 30%;
height: 30%;
margin-top: 1vh;
margin-bottom: 1vh;
margin-left: 1vw;
margin-right: 1vh;
padding-top: 1vh;
padding-bottom: 1vh;
padding-left: 1vh;
padding-right: 1vh;
display: flex;
flex-direction: column;
justify-content: center;

background-color: #F1F0F0;

}
.hsize3 {
    font-size: 1.5em;
  text-align: center;
  }

footer  {
background: #5B98CF;
color: white;
height: 200px;
font-family: 'Montserrat', sans-serif;
font-size: 1em;
display: flex;
flex-direction: column;
justify-content: space-evenly;
padding-left: 30px;
/*border: 1px solid  green*/


}

.unof {
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.ftelephone {
color: white;

}

.dosf {
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
 


}



.fpie {
  margin: 0;
  padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
       /* 
border: 1px solid #ffffff;
  */
  padding-left: 40px;
}

.fpiedos  {
  margin: 0;

  padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    font-size: .7em;
    padding-left: 40px;

}
.blood {
display: flex;
justify-content: center;
align-items: center;
font-size: .9em;
}

.iconblood {
  padding: 6px;
}
.iconfox {
  padding: 6px;
}

#video {
width: 70%;
height: auto;
}



.pfooter {
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

 #logovasquez {
        width: 2
        300px;
    }

.uno {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submenu {
  color: black;

}

.menutel {
display: none;
}    
.azuluno { 
  display: none;
}

.azuldos { 
  display: none;
}



.menublanco {
display: flex;
flex-direction: column;
padding-top: 10px;
padding-bottom: 10px;

}

.menublanco2 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: .1.5em;
}
#years {
    font-size: 1.5em;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-bottom: 40px;
}

.servicesdesign {
width: 100%;
height: 30%;
margin-top: 1vh;
margin-bottom: 1vh;
margin-left: 1vw;
margin-right: 1vh;
padding-top: 1vh;
padding-bottom: 1vh;
padding-left: 1vh;
padding-right: 1vh;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
background-color: #F1F0F0;
}

.blood {
display: flex;
justify-content: center;
align-items: center;
font-size: .8em;
}

}