body {
  background: #ffffff;
  background-size: auto;
  /*font-family: 'Lato', sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  
}

nav  {
background: #5B98CF;
color: white;
height: 50px;
font-family: 'Montserrat', sans-serif;
display: flex;
justify-content: space-around;
align-items: center;

}

.menu {
  color: #ffffff;
 
}    


.uno {
  display: flex;
  justify-content: flex-end;
  align-items: center;
 
  
}

img.telephone {
  padding: 10px;

}

.telephone {
  padding: 30px;
  display: flex;
  align-items: center;
  
}

.dos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

img.email {
  padding: 10px;
width: 

}
.email {
display: flex;
align-items: center;

}


/*Aqui empieza seccion dos*/

a:link, a:visited, a:active {
text-decoration:none;
}

.menudos {

  background: #ffffff;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  font-size: 17px;
  


}

img.trabajadores {
  width: 100% ;
  height: 100%;
  


}


h1 {
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
}
h2 {
  text-align: center;
  font-family: 'Lato', sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
}


.parteservicios {

}

/*ContenedorPadre*/



.services {
    margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
}

/*Contenedores Hijos*/
.servicesdesign {
width: 30%;
height: 30%;
margin-top: 1vh;
margin-bottom: 1vh;
margin-left: 1vw;
margin-right: 1vh;
padding-top: 1vh;
padding-bottom: 1vh;
padding-left: 1vh;
padding-right: 1vh;
display: flex;
flex-direction: column;
justify-content: center;

background-color: #F1F0F0;

}

footer  {
background: #5B98CF;
color: white;
height: 200px;
font-family: 'Montserrat', sans-serif;
font-size: .8em;
display: flex;
flex-direction: column;
justify-content: space-evenly;
padding-left: 30px;


}

.unof {
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
 /* 
border: 1px solid #ffffff;
  */
}

.dosf {
  height: auto;
  display: flex;
  justify-content: flex-start;
  lign-items: center;
  justify-content: flex-start;
  align-items: center;
   /* 
border: 1px solid #ffffff;
  */
}



.fpie {
  margin: 0;
  padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
       /* 
border: 1px solid #ffffff;
  */
  padding-left: 40px;
}

.fpiedos  {
  margin: 0;

  padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    font-size: .7em;
    padding-left: 40px;

}
.blood {
display: flex;
justify-content: center;
align-items: center;
font-size: .9em;
}

.iconblood {
  padding: 6px;
}
.iconfox {
  padding: 6px;
}

#video {
width: 70%;
height: auto;
}

h3 {
  text-align: center;
}

.pfooter {
  text-align: center;
}